.login-submit {
    float: left;
    width:45%;
    height: 38px;
}

.login-field {
    margin-bottom: 20px;
}

.login-prompts {
    padding-top: 15px;
}

.login-prompts small {
    display: block;
}

.google-submit {
    display: inline-block;
    width: 45%;
    vertical-align: middle;
    text-align: center;
    margin-left: 10%;
}

.google-btn {
    height: 38px;
    background-color: #fcfcfc;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
    cursor: hand;
    align-self: center;
    user-select: none;
    transition: all 400ms ease 0s;
    display: flex;
    text-decoration: none !important;
}
.google-btn .google-icon-wrapper {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 2px;
    user-select: none
}
.google-btn .google-icon-svg {
    width: 18px;
    height: 18px;
    user-select: none
}
.google-btn .btn-text {
    float: right;
    margin: auto;
    color: #757575;
    font-size: 14px;
    letter-spacing: .2px;
    font-family: Roboto;
    user-select: none
}
.google-btn:hover {
    box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
    user-select: none
}
.google-btn:active {
    box-shadow: 0 1px 1px #757575;
    background: #F8F8F8;
    color: #fff;
    user-select: none
}
